.calendar-wrap {
  width: 400px;
  height: 100%;
  background: #fff;
  padding: 0 12px 20px 12px;
}

/*******************************************
* YEAR SLIDER
*******************************************/

.year-slider {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.year-slider-left-control,
.year-slider-right-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  font-size: .9em;
  transition: all .1s;
  cursor: pointer;
  font-family: 'Oxygen';
}

.year-slider-left-control .fa,
.year-slider-right-control .fa { color: #ddd; }

.year-slider-left-control:hover,
.year-slider-right-control:hover {color: #8d8d8d; }

.year-slider-left-control { justify-content: flex-start; }
.year-slider-right-control { justify-content: flex-end; }

.year-slider-tape-wrap {
  width: 60%;
  overflow: hidden;
  font-family: 'Oxygen';
}

.year-slider-tape {
  position: relative;
  white-space: nowrap;
  font-family: 'Oxygen';
}

.year {
  display: inline-block;
  color: #aaa;
  transition: all .2s;
  font-size: 1em;
  text-align: center;
  width: 32%;
  font-family: 'Oxygen';
}
.year:first-of-type { margin-left: 0; }
.year:last-of-type { margin-right: 0; }

.year-primary {
  color: #b23636;
  transform: scale(1.4);
  font-family: 'Oxygen';
}

.year-denied {
  color: #ddd;
  text-decoration: line-through;
  font-family: 'Oxygen';
}

/*******************************************
* MONTH SLIDER
*******************************************/
.month-slider {
  margin: 30px 0 25px 0;
  padding: 0 8px;
  position: relative;
  font-family: 'Oxygen';
}

.month-numbers { display: flex; }

.month-numbers div {
  flex: 1;
  color: #aaa;
  text-align: center;
  cursor: pointer;
}

.month-current { color:  !important; }

.month-line {
  height: 2px;
  margin: 12px 0 0 0;
  background: linear-gradient(to right, transparent 3%, #eee 3%, #eee 98%,  transparent 98%);
  display: flex;
  align-items: center;
  font-family: 'Oxygen';
}

.slider-circle {
  height: 13px;
  width: 13px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  transition: all .2s;
}

.month-title {
  color: #b23636;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  font-family: 'PT Sans';
  font-size: 1.1em;
}

/*******************************************
* WEEKDAYS
*******************************************/
.weekdays-wrap {display: flex;}

.weekdays-wrap div {
  width: calc(100% / 7);
  text-align: center;
  margin-bottom: 10px;
  color: #aaa;
  font-weight: bold;
}

.calendar-cells-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  justify-content: space-between;
}
.cell {
  width: calc(100% / 7);
  text-align: center;
  padding: 3px 0;
  margin-bottom: 10px;
  color: #5d5d5d;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
.cell:hover {color: #b23636;}
.cell-out:hover {color: #3d3d3d !important;}
.cell-out {color: #aaa !important;}
.cell-today {background: #ddd;}
.cell-today:hover {color: #3d3d3d;}
.cell-active {
  background: #cc5656 !important;
  color: #fff !important;
}

/*******************************************
* TASK CONSTRUCTOR
*******************************************/
.constructor-wrap {
  height: 440px;
  width: 310px;
  background: #c73f69;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .3);
  padding: 25px 35px;
}

.constructor-topbar {
  display: flex;
  flex-wrap: wrap;
}

.constructor-date-wrap {
  flex: 3;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.date-words-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.constructor-date-month {
  font-size: 1.3em;
  width: 100%;
}
.constructor-date-weekday {
  width: 100%;
  color: #d2859d;
}

.constructor-date-day {
  font-size: 3em;
  margin-right: 10px;
}

.constructor-controls {
  display: flex;
  justify-content: space-around;
  flex: 1;
  font-size: 1.5em;
  font-weight: bold;
  align-items: center;
  color: #d2859d;
}

.constructor-controls div {
  transition: all .1s;
  cursor: pointer;
}
.constructor-controls div:hover { color: #fff; }

.constructor-days-remain {
  width: 100%;
  color: #d2859d;
  font-size: .9em;
}

.contructor-body {margin-top: 20px; }
.descr-field-wrap {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
}
.descr-field {
  /*min-height: 10px;*/
  max-height: 260px;
  overflow: hidden;
  outline:none;
  color: #3d3d3d;
  font-family: 'PT Sans';
}
.descr-field-bottom {
  text-align: right;
  color: #d2859d;
  font-size: .8em;
  padding: 5px 0;
}












