.chartzones
  flexbox(false, true)
  width 100%
  height 100%

.chartzone-wrap
  height 33.3%
  width 100%
  background #fff
  border-bottom 2px solid #eee

.chartzone-top
  flexbox(false, true)
  justify-content flex-end
  padding 5px 10px
  .fa
    font-size 1.3em
    color: #aaa

.chartzone
  height 85%
  flexbox(true, true)

  
