.chartzones
  flexbox(false, true)
  width 450px
  height 100%
  padding 10px 20px 

.chartzone-wrap
  height 33.3%
  width 100%
  background #fff
  border-bottom 2px solid #eee

.chartzone-top
  flexbox(false, true)
  justify-content flex-end
  padding 5px 10px
  .fa
    font-size 1.2em
    color: #ccc

.chartzone
  height 85%
  flexbox(true, true)

.chartzone-half
  flexbox(true, true)
  height 100%
  width 50%
  box-sizing border-box
  &:first-of-type
    border-right 2px solid #eee
.chartzone-double
  height 100%
  margin 0