@font-face
  font-family 'Cabin'
  src url('../fonts/Cabin-Regular.ttf')
@font-face
  font-family 'Oxygen'
  src url('../fonts/Oxygen-Regular.ttf')
@font-face
  font-family 'PT Sans'
  src url('../fonts/PT_Sans-Regular.ttf')