@import '../node_modules/stylus-normalize/normalize'
@import 'mixins'
@import 'vars'
@import 'fonts'
@import 'calendar'
@import 'usercard'
@import 'chart'
@import 'c-manager'
@import 't-manager'
@import 'folders'

/**********************************
* COMMON 
**********************************/
html, body
  height 100%
  flexbox(true, true)
  background url(../img/bg.png)
  background-size 100%

*
  reset()

.transparent
  background transparent !important
  // box-shadow none !important
  overflow visible !important

.container
  position relative
  width 940px
  margin auto

.application-container
  flexbox(false, false)
  height 600px
  width 1000px
  background #eee
  box-shadow 0 5px 25px 2px rgba(0, 0, 0, .3)
  position relative
  overflow hidden
  
  
/**********************************
* APP SIDEBAR
**********************************/
.app-sidebar
  height 100%
  width 70px
  background $red
  position relative
  z-index 2
  perspective 100px

.main-nav
  reset()
  flexbox(false, true)
  flex-direction column
  justify-content space-around

.main-nav li
  flexbox(false, true)
  list-style none
  width 100%
  height 70px
  transition all .1s
  cursor pointer
  border-right 0px solid #fff
  &:hover
    background darken($red, 20%)
  &.sidebar-item-active
    background darken($red, 20%)
    border-right-width 3px
  .fa
    flex 2
    flexbox(true, true)
    color #fff 
    font-size 1.3em

/**********************************
* APP BODY
**********************************/
.app-body
  flexbox(false, false)

.side-panel
  flexbox(true, false)
  background #fff
  height 100%
  position absolute
  top 0
  left 70px
  overflow hidden
  box-shadow: 11px 0px 16px -12px #000;
  transform-origin center left

/**********************************
* APP CONTENT
**********************************/
.app-content
  height 100%
  width calc(100% - 70px)
  position relative
  flexbox(false, true)
  flex-direction column

.right-toolbar
  width 100px
  height 100%
  position absolute
  right 0
  top 0

.add-button-wrap
  flexbox(true, true)
  width 100%
  position absolute
  bottom 20px

.add-button-global
  height 50px
  width 50px
  border-radius 50%
  outline none
  border none
  cursor pointer
  background $red
  transition all .3s
  border 1px solid darken($red, 10%)
  &:hover
    background darken($red, 10%)
    transform translateY(-7%)
    box-shadow 0 3px 15px 1px rgba(0, 0, 0, .3)
  .fa
   color #fff

/****************
* global date
*****************/
.g-current-date-wrap
  flexbox(true, true)
  opacity .5
  user-select none
  
.g-current-day
  font normal 4em 'Muli'
  color $red

.g-month-wrap
  flexbox(true, true)
  margin-top -5px
.g-current-month,
.g-current-weekday
  font normal 1em 'Cabin'
  color #3d3d3d

