.tasklist-global 
  width 400px
  max-height 450px
  position absolute
  left 0
  right 0
  top 7%
  margin auto
  overflow-y scroll
  padding 0 50px
  box-sizing content-box
  perspective 800px
  &::-webkit-scrollbar
    transition: all .2s
    width 5px
  &::-webkit-scrollbar-track
    background #eee
  &::-webkit-scrollbar-thumb
    background #e7e7e7
    border-radius 50px
    &:hover
      background #ccc

.tl-task 
  max-height 100px
  width 100%
  background #fff
  margin 10px 0
  position relative
  cursor pointer
  transition all .3s ease-out
  display none
  opacity 1
  display flex
  align-items center
  padding 5px 0
  overflow hidden

.tl-task-shifted
  transform translate(10%, 10%)
  opacity 0

.tl-task-active
  background $red
  box-shadow 1px 1px 5px 1px rgba(0, 0, 0, .2)
  .tl-task-text
    color #fff !important
  &:hover
    background $red !important

.tl-task-removed
  // transition all .5s cubic-bezier(.36,-0.64,.34,1.76)
  padding 0 
  margin 0 
  opacity 0

.tl-task:hover
  box-shadow 1px 1px 5px 1px rgba(0, 0, 0, .2)

.tl-task-low:after,
.tl-task-high:after,
.tl-task-normal:after 
  content ''
  display block
  position absolute
  height 100%
  width 1%
  left 0
  top 0

.tl-task-low:after
  background #DAE163
  
.tl-task-high:after
  background #639DE1
  
.tl-task-normal:after
  background #FF4A25

.tl-task-text 
  font normal 1em 'Hind'
  color #3d3d3d
  height 100%
  display flex
  align-items flex-end
  padding 5px 20px
  max-width 80%
  pointer-events none

.tl-task-folder 
  width 15%
  height 100%
  position absolute
  right 0
  top 0
  display flex
  justify-content center
  align-items center
  pointer-events none

.tl-task-folder .fa 
  font-size 1.5em
  color #acacac

.toolbar 
  height 30%
  position absolute
  right 3%
  top 0
  bottom 0
  margin auto
  display flex
  flex-direction column
  justify-content space-between
  cursor pointer
  overflow hidden
  padding 20px 10px 20px 50px
  box-sizing content-box

.tb-tool 
  height 50px
  width 50px
  background #EB6361 
  border-radius 50%
  display flex
  justify-content center
  align-items center
  transition all .3s
  animation-name appear
  animation-duration .8s
  animation-timing-function ease-out
  animation-fill-mode forwards

.tb-tool-hidden 
  display none 

.tb-tool:hover 
  background #DD3331
  box-shadow 2px 2px 10px 1px rgba(0, 0, 0, .4)

.tb-tool-disappear
  animation-name disappear
  animation-duration .3s
  animation-timing-function ease-in-out
  animation-fill-mode forwards

.tb-tool .fa 
  color #fff
  font-size 1.2em

@keyframes appear 
  0% 
    transform translate(200%, 0)
  40% 
    transform translate(-30%, 0)
  100% 
    transform translate(0, 0)

@keyframes disappear
  0%
    transform translate(0, 0)
  40%
    transfrom translate(-30%, 0)
  100%
    transform translate(200%, 0)
