.tasklist-global 
  width 400px
  max-height 450px
  position absolute
  left 0
  right 0
  top 7%
  margin auto
  overflow-y: scroll
  padding 0 50px
  box-sizing content-box
  &::-webkit-scrollbar
    transition: all .2s
    width 5px
  &::-webkit-scrollbar-track
    background #eee
  &::-webkit-scrollbar-thumb
    background #e7e7e7
    border-radius 50px
    &:hover
      background #ccc

.tl-task 
  max-height 100px
  width 100%
  background #fff
  margin 10px 0
  box-shadow 1px 1px 5px 1px rgba(0, 0, 0, .2)
  position relative
  cursor pointer
  transition all .5s
  display none
  opacity 0
  display flex
  align-items center
  padding 5px 0
  overflow hidden

.tl-task-shifted
  transform translate(10%, 10%)

.tl-task:hover
  background #eee


.tl-task-low:after,
.tl-task-high:after,
.tl-task-normal:after 
  content ''
  display block
  position absolute
  height 100%
  width 1%
  left 0
  top 0


.tl-task-text 
  font normal 1em 'Hind'
  color #3d3d3d
  height 100%
  display flex
  align-items flex-end
  padding 5px 20px
  max-width 80%

.tl-task-folder 
  width 15%
  height 100%
  position absolute
  right 0
  top 0
  display flex
  justify-content center
  align-items center

.tl-task-folder .fa 
  font-size 1.5em
  color #acacac

