.g-current-date-wrap
  flexbox(true, true)
  opacity .5
  user-select none
  
.g-current-day
  font normal 4em 'Muli'
  color $red

.g-month-wrap
  flexbox(true, true)
  margin-top -10px
.g-current-month,
.g-current-weekday
  font normal 1em 'Cabin'
  color #3d3d3d
  width 100%
  text-align center
