flexbox(x, y)
  display flex
  flex-wrap wrap
  if x
    justify-content center
  if y
    align-items center
    
reset()
  margin 0
  padding 0
  box-sizing border-box

hint()
  color #fff
  background #000
  position absolute
  padding 2px 7px
  border-radius 3px
  font 500 .9em 'Hind'
  transition all .1s ease-in
  pointer-events none
  white-space nowrap
  z-index 2
  opacity 0
  user-select none
