@font-face
  font-family 'Cabin'
  src url('../fonts/Cabin-Regular.ttf')
@font-face
  font-family 'Oxygen'
  src url('../fonts/Oxygen-Regular.ttf')
@font-face
  font-family 'PT Sans'
  src url('../fonts/PT_Sans-Regular.ttf')
@font-face
  font-family 'Muli'
  src url('../fonts/Muli-Regular.ttf')
@font-face
  font-family 'Hind'
  src url('../fonts/Hind-Regular.ttf')
@font-face
  font-family 'Hind'
  font-weight 500
  src url('../fonts/Hind-Medium.ttf')