.usercard-wrap
  height 100%
  width 350px !important
  background darken($red, 20%)

.usercard-avatar
  flexbox(false, true)
  padding-bottom 30px
  flex-direction column
  
.avatar-wrap
  background #3d3d3d
  overflow hidden
  width 100%
  position relative
  &:hover
    i
      opacity 1
    .avatar
      transform scale(1.1)
      opacity .7

.avatar-settings
  position absolute
  bottom 0
  right 0
  transform translate(-50%, -50%)
  i
    cursor pointer
    opacity 0
    transition all .2s
    font-size 30px
    color #fff
    &:hover
      .avatar-settings-hint
        opacity .8
        transform translateX(-115%)

.avatar-settings-hint
  hint()
  left 0
  top 0
  transform translateX(-120%)
  font 500 13px 'Hind'

.avatar
  width 100%
  object-fit cover
  transition all .3s ease-out
  transform scale(1.05)

.usercard-username-wrap
  flexbox(false, true)
  justify-content space-around
  width 100%
  margin-top 20px

.username
  color #fff
  font-family 'Cabin'
  text-transform capitalize
  font-size 1.4em
  font-weight bold

.usercard-email p
  reset()
  color #fff
  font bold .9em 'PT Sans'

.usercard-progress-view
  flexbox(false, true)
  flex-direction column

.progress-view-title
  font bold 1em 'PT Sans'
  color #fff
  
.usercard-progressbar,
.progress-view-title,
.summary
  width 80%

.usercard-progressbar
  margin 2px 0 10px 0
  height 10px
  background #fff

.progressbar-fill
  background $red
  height 100%

.social-wrap
  flexbox(true, true)
  width 100%
  position absolute
  bottom 30px
  .fa
    margin 0 10px
    flexbox(true, true)
    font-size 1.2em
    color #fff
    transition all .2s
    cursor pointer
    &:hover
      color darken($red, 50%)

.usercard-summary-view
  flexbox(true, true)

.summary
  margin 5px 0
  font bold 1em 'PT Sans'
  color #fff
  span:last-of-type
    background $black
    padding 1px 5px
    border-radius 5px
    margin 0 10px
    font bold 1em 'PT Sans'
